input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
select {
    background-color: #FCFCFC;
    border: 1px solid #DDD;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px #666 inset;
    -moz-box-shadow: 0 1px 1px #666 inset;
    box-shadow: 0 1px 1px #666 inset;

    padding: 5px;
    font-size: 16px;
}

.section {
	min-height: 600px;
	width: 100%;
}

#hero-banner-wrapper {
	background: url('/media/img/wallpaper1.jpg') no-repeat center center fixed;
	background-size: cover;
	width: 100%;
	padding-top: 70px;
}

.section-header h1 {
	font-size: 100px;
	color: #FAFAFA;

	margin-bottom: 40px;
	text-shadow: 1px 1px .2em #444;
}

h1 {
	text-shadow: 0px 0px 5px white;
}

#signup-wrapper {
	background-color: white;
	padding: 20px;
	border-radius: 3px;
	background-color: #FAFAFA;

	box-shadow: 0px 2px 8px #222;
}

#signup-header {
	font-size: 32px;
	margin-bottom: 20px
}

#input-tag,
#input-handle {
	font-size: 24px;
	margin-bottom: 5px;
}

#input-tag {
	width: 2.5em;
	font-family: monospace;
	background-color: red;
	color: white;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	text-align: center;
	text-transform: uppercase;
	margin-right: 5px;
}

#input-tag::-webkit-input-placeholder { /* WebKit browsers */
	color: #FCA2A2;
}
#input-tag:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: white;
}
#input-tag::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: white;
}
#input-tag:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: white;
}

#input-email {
	margin-bottom: 5px;
	font-size: 12px;
	width: 80%;
}

#brackets-pane {
	background: url('/media/img/wallpaper2.png') no-repeat center center fixed;
	background-size: cover;
	min-height: 600px;
	width: 100%;

	border-top: 1px solid #888;
	border-bottom: 1px solid #888;

	box-shadow: inset 0px 0px 10px #444;
}

#pane-with-wallpaper3 {
	background: url('/media/img/wallpaper3.jpg') no-repeat center center fixed;
	background-size: cover;
	min-height: 600px;
	width: 100%;

	border-top: 1px solid #888;
	border-bottom: 1px solid #888;

	box-shadow: inset 0px 0px 10px #444;
}

