input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
select {
    background-color: #FCFCFC;
    border: 1px solid #DDD;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px #666 inset;
    -moz-box-shadow: 0 1px 1px #666 inset;
    box-shadow: 0 1px 1px #666 inset;

    padding: 5px;
    font-size: 16px;
}

.clear {
	clear: both;
}

.section {
	height: 100%;
}

#logo-top {
	padding-bottom: 15px;
}

#hero-banner-wrapper {
	padding: 15px 40px 40px;
	background: #e73827; /* Old browsers */
	background: -moz-linear-gradient(left,  #e73827 25%, #f96b18 68%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(25%,#e73827), color-stop(68%,#f96b18)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #e73827 25%,#f96b18 68%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #e73827 25%,#f96b18 68%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #e73827 25%,#f96b18 68%); /* IE10+ */
	background: linear-gradient(to right,  #e73827 25%,#f96b18 68%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e73827', endColorstr='#f96b18',GradientType=1 ); /* IE6-9 */

}

#hero-sell .section-header {
	font-size: 42px;
	font-weight: bold;
	color: black;

	margin-bottom: 20px;
	text-shadow: 1px 1px .1em #888;
}

#hero-banner {
	background-color: #DDD;
	background: url('/media/img/escheresque.png');
	box-shadow: inset 0px 2px 6px #444;
	/* width: 100%; */
	padding: 40px;
}

#hero-sell {
	font-size: 18px;
	color: black;
}

#hero-sell p {
	margin-bottom: 20px;
}

#award-notice {
	font-size: 24px;
	margin-bottom: 20px;
}

h1 {
	text-shadow: 0px 0px 5px white;
}

#signup-wrapper {
	background-color: white;
	height: 250px;
	border-radius: 3px;
	background-color: #FAFAFA;
}

#signup-header {
	font-size: 28px;
	margin-bottom: 10px
}

#input-tag,
#input-handle {
	font-size: 32px;
	margin-bottom: 15px;
}

#input-handle {
	width: 80%;
}

#input-tag {
	width: 3.2em;
	font-family: monospace;
	background-color: red;
	color: white;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	text-align: center;
	text-transform: uppercase;
	margin-right: 15px;
}

#input-tag::-webkit-input-placeholder { /* WebKit browsers */
	color: #FCA2A2;
}
#input-tag:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: white;
}
#input-tag::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: white;
}
#input-tag:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: white;
}

#input-email {
	margin-bottom: 5px;
	font-size: 18px;
	width: 80%;
}

.section {
	padding: 40px 0;
}

.section .section-header {
	font-size: 38px;
	font-weight: bold;
}

.section .section-body {
	font-size: 28px;
}

#brackets-pane {
	background: url('/media/img/brackets.png') no-repeat center center;
	min-height: 200px;
	width: 100%;

	border-top: 1px solid #888;
	border-bottom: 1px solid #888;

	box-shadow: inset 0px 0px 10px #444;
}

#experience-pane {
	background: url('/media/img/wallpaper3.jpg') no-repeat center center;
	min-height: 200px;
	width: 100%;

	border-top: 1px solid #888;
	border-bottom: 1px solid #888;

	box-shadow: inset 0px 0px 10px #444;
}

#run-tournament-pain img {
	height: 300px;
}

#experience-pane .last {
	text-align: right;
}

#signup-wrapper {
}

#award-notice {
}

#reservation-submit[disabled] {
	box-shadow: none;
	background: #FFB0B0;
}

#reservation-submit {
	margin: 20px auto;
	display: inline-block;
	color: #ffffff;
	font-size: 24px;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#ff2819 0%,
		#ab0000);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ff2819),
		to(#ab0000));
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #7d0000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
}

.flip {
	-webkit-perspective: 800;
	-moz-perspective:800;
	width: 400px;
}

.flip .card.flipped {
	-webkit-transform: rotatex(-180deg);
	-moz-transform: rotatex(-180deg);

	box-shadow: 0px -2px 6px #444;
}

.flip .card {
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.5s;
	-moz-transform-style: preserve-3d;
	-moz-transition: 0.5s;
}

.flip .card .face {
	position: absolute;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	z-index: 2;
}

.flip .card .front {
	position: absolute;
	z-index: 1;

	box-shadow: 0px 2px 6px #444;
}

.signup-inner {
	padding: 20px;
	background-color: white;
}

.flip .card .back {
	top: 20px
	padding: 20px;
	-webkit-transform: rotatex(-180deg);
	-moz-transform: rotatex(-180deg);
	position: absolute;
}

#form-success {
	padding: 30px;
	text-align: center;
	font-size: 32px;
}

#form-success img {
	width: 28px;
}

#success-award {
	margin-top: 10px;
	font-size: 16px;
}

#success-username {
	border-bottom: 1px solid #BBB;
	padding-bottom: 15px;
	margin-bottom: 10px;
}

#success-tag {
	background-color: red;
	color: white;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	padding: 5px 10px;
}

#success-handle {
	font-weight: bold;
}


